@font-face {
  font-family: "Proxima-Nova-Alt-Regular";
  src: url("./fonts/Proxima-Nova-Alt-Regular.otf");
}

html,
body,
#app,
.container {
  width: 100%;
  height: 100%;
}
body {
  overflow-x: hidden;
  margin: 0;
  font-family: "Proxima-Nova-Alt-Regular";
}

html {
  font-family: "Proxima-Nova-Alt-Regular";
}

h1 {
  font-size: 2em;
  color: #757f82;
  font-family: "Proxima-Nova-Alt-Regular";
}

h2 {
  font-size: 1.7em;
  color: #e7796c;
  font-family: "Proxima-Nova-Alt-Regular";
}

.spinner {
  width: 70px;
  height: 70px;

  position: relative;
  margin: 100px auto;
}

.double-bounce1,
.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.react-datepicker__time-box {
  width: 6vw;
  margin: 0;
}

.react-datepicker__time-container {
  width: 9vw;
}

@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
